# Python artifacts
__pycache__/

# Pytest (testing)
.pytest_cache/

# MyPy (type checking)
.mypy_cache/

# Mac OS X artifacts
.DS_Store

# Python packaging artifacts
*.egg-info/
.eggs/
build/
dist/

# Built documentation files
_build/
_static/
_templates/
